# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- set os         = salt['grains.get']('os') %}
{%- set osrelease  = salt['grains.get']('osrelease') %}
{%- set oscodename = salt['grains.get']('oscodename') %}

{## Start with defaults from defaults.yaml ##}
{% import_yaml 'openssh/defaults.yaml' as default_settings %}

{##
Setup variables using grains['os_family'] based logic, only add key:values
that differ from what is in defaults.yaml
##}
{% set family_map = salt['grains.filter_by']({
    'Arch': {
        'pkgs': ['openssh'],
    },
    'Debian': {
        'pkgs': ['openssh-server'],
    },
    'MacOS': {
        'pkgs': ['openssh'],
    },
    'RedHat': {
        'pkgs': ['openssh'],
    },
}
, grain="os_family"
, merge=salt['pillar.get']('openssh:lookup')
, default='Debian') %}

{% set server_family_map = salt['grains.filter_by']({
    'Arch': {
        'service': 'sshd',
        'config': '/etc/ssh/sshd_config',
        'lib_dir': '/usr/lib/openssh',
        'user': {},
    },
    'Debian': {
        'service': 'ssh',
        'config': '/etc/ssh/sshd_config',
        'lib_dir': '/usr/lib/openssh',
        'user': {},
    },
    'MacOS': {
        'service': 'ssh',
        'config': '/etc/sshd_config',
        'lib_dir': '/usr/lib/openssh',
        'user': {},
    },
    'RedHat': {
        'service': 'sshd',
        'config': '/etc/ssh/sshd_config',
        'lib_dir': '/usr/libexec/openssh',
        'user': {},
    },
}
, grain="os_family"
, merge=salt['pillar.get']('openssh:server:lookup')
, default='Debian') %}

{% set client_family_map = salt['grains.filter_by']({
    'Arch': {
        'config': '/etc/ssh/ssh_config',
    },
    'Debian': {
        'config': '/etc/ssh/ssh_config',
    },
    'MacOS': {
        'config': '/etc/ssh/ssh_config',
    },
    'RedHat': {
        'config': '/etc/ssh/ssh_config',
    },
}
, grain="os_family"
, merge=salt['pillar.get']('openssh:client:lookup')
, default='Debian') %}

{## Merge the flavor_map to the default settings ##}
{% do default_settings.openssh.update(family_map) %}
{% do default_settings.openssh.server.update(server_family_map) %}
{% do default_settings.openssh.client.update(client_family_map) %}

{## Merge in supervisor:lookup pillar ##}
{% set openssh = salt['pillar.get'](
        'openssh',
        default=default_settings.openssh,
        merge=True
    )
%}